.App {
  font-family:verdana;
  text-align: center;
  font-size:12px;
}
body {
  background-color:#24292e;
}

input:focus { outline: none; }

button {
 outline: none;
 background-color: transparent;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 2px;
  bottom: 0;
  width: 20px;
  background:url(/src/users.svg);
  background-repeat: no-repeat;
}

input {
  padding: 0 0 0 40px;
}

h1 {
  margin-top:3%;
  font:26px Roboto;
  font-weight:bold;
  color:white;
}

h3 {
  font:12px Roboto;
  font-weight:normal;
  margin:-10px 0 0 0;
}

.github-logo {
  font-size:20px;
  padding-top:2%;
  color:#2188FF;
}

.search {
  margin-top:1%;
  border-radius:25px;
  border:1px inset #eee;
  height:45px;
  width:45%;
}

#submit-button {
  margin:.9% 0 0 10px;
  padding:10px;
  position: absolute;
  border-radius:100px;
  background-color:#2188FF;
  border: none;
  font-size:20px;
  height:49px;
  color:white;
  width:49px;
  cursor: pointer;
}

#submit-button:hover {
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 137, 225, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(33, 137, 225, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(33, 137, 225, 0)
  }
}

.returned-info {
  margin-top:15px;
}

.usercard-main {
  background-color: #fff;
  height: 230px;
  width:190px;
  border-radius: 5px;
  margin:5px;
  padding:5px;
  display: inline-flex;
  align-items: center;
  box-shadow: 2px 2px 5px #000;
  color: #24292e;
  flex-direction: column;
}

.usercard-main:active {
  box-shadow:0px 0px 0px 0px;
}

.userimg {
  border-radius:100px;
  margin:20px 0 15px 0;
  border:2px solid #24292e;
}

.usercard-main:hover img{
  cursor: pointer;
  animation: pulseBlack 2s infinite;
}

a {
  font-size:18px; 
  font-family:'Roboto';
  text-decoration: none;
  font-weight:bold;
} 

@keyframes pulseBlack {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
  }
}

.errors {
  background-color:#f44336;
  color:white;
  border-radius:5px;
  box-shadow: 1px 1px 10px #000;
  width:40%;
  margin:0 auto;
  padding:10px;  
}

.statistics{
  margin-top:20px;
  cursor: default;
  font-size:12px;
}
.followers {
  display:inline-grid;
  padding:5px;
}
.fa-user-friends {
  color:#7fdb9e;
  font-size:20px;
}

.stars {
  display: inline-grid;
  padding:5px;
  margin:0 0 0 20px;
}

.fa-star {
  color:gold;
  font-size:20px;
}

.pagination-button, .pagination-button-back {
  border:0px;
  padding:5px;
  font-size:14px;
  width:30px;
  height:40px;
  text-align:center;
  cursor:pointer;
  background-color:#fff;
  border:1px solid #eee;
  margin:10px 0 0 0;
}
.pagination-button:hover, .pagination-button-back:hover {
  background-color:#eee;
}
.pagination-button-back {
  border-right:0px;
}

.count-total {
  color:white;
  margin:-5px 0 20px 0;
}

.total_pages {
  color:white;
  display:block;
  margin:20px 0 0 0;
}

.pagination-button-return {
  padding:5px 10px 5px 10px;
  font-size:14px;
  text-align:center;
  cursor:pointer;
  background-color:#2188FF;
  border:1px solid #2188FF;
  margin:6% 0 0 0;
  float:right;
  color:white;
}

.pagination-button-return:hover {
  border:1px inset #2465c9;
}

.profileContainer {
  background-color:white;
  width:400px;
  margin:10% auto;
  padding:20px;
  min-height:100px;
}

.profileContainer img {
  float:left;
}